:root {
  --text: #333333;
  --accent: #6fcf97;
  --background: #f8f9fa;
  --gray: #e6e7e8;
  --accent-hover: #9dd6c2;
  --accent-active: #27a369;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
*::selection {
  background-color: var(--accent);
  color: var(--background);
}
html,
body,
main {
  height: 100%;
}
.registration {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.registration__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  max-width: 45rem;
  width: 100%;
  gap: 3rem;
}
.registration__title {
  margin: 0 auto;
  letter-spacing: 0.05em;
  font-size: 3.6rem;
  color: var(--text);
}
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0;
}
.input__login, .input__password, .input__email {
  width: 100%;
  font-size: 2.4rem;
  color: var(--text);
  padding: 1.7rem 2.5rem;
  border: 0.1rem solid var(--text);
  border-radius: 2rem;
  margin: 0;
}
.input__login:focus,
.input__password:focus {
  box-shadow: 0rem 0rem 1rem rgba(111, 207, 151, 0.3);
  outline: none;
}
.input__login::placeholder,
.input__password::placeholder {
  color: var(--text);
}
.registraion__create_acc {
  display: block;
  margin: 1.5rem auto 0 auto;
  font-size: 2.8rem;
  padding: 1.3rem 3rem;
  color: var(--text);
  background-color: var(--accent);
  border: 0;
  border-radius: 1rem;
  transition: 0.3s;
}
.entry {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.entry__text {
  margin: 0;
  font-size: 2.8rem;
  color: var(--text);
  align-self: center;
}
.entry__button {
  margin: 0;
  font-size: 2.8rem;
  background-color: transparent;
  color: var(--text);
  border: 0;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: 0.3s;

}
.entry__button:hover,
.registraion__create_acc:hover {
  background-color: var(--accent-hover);
  text-decoration: none;
}
.entry__button:active,
.registraion__create_acc:active {
  background-color: var(--accent-active);
  color: var(--gray);
}
