@media (min-width: 1050px){
    .wrapper {
        margin: 6rem auto;
        padding: 0 14.2rem;
        max-width: 150rem;
    }
    .container {
        gap: 4rem;
        justify-content: flex-end;
        margin: 0 0 4.5rem 0;
    }
    .search {
        background-color: var(--gray);
        border-radius: 2rem;
        padding: 1rem 3rem;
        width: 100%;
        max-width: 45rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        margin-bottom: 40px;
    }  
    .search__input {
        font-size: 2rem;
    }
    .search__form {
        display: flex;
        justify-content: center;
    }
    .search__svg {
        width: 3rem;
        height: 3rem;
    }
    .entry__username {
        font-size: 2rem;
    }
    .button_of_entry,
    .sign_button, .modal__book-button {
        padding: 1.3rem;
        font-size: 2rem;
        min-height: 5rem;
    }
    .modal__button_close {
        font-size: 2rem;
    }
    .sign_button {
        padding: 1.3rem 2.7rem;
    }
    .activity {
        margin: 4.5rem auto;
        gap: 3rem;
    }
    .event__container_image {
        height: 40rem;
    }
    .content {
        padding: 3rem;
    }
    details summary {
        margin: 0 3.2rem 3rem 0;
    }
    summary::after {
        width: 3.2rem;
        height: 1.7rem;
    }
    details[open] > summary::after {
        width: 3.2rem;
        height: 1.7rem;
      }
    summary {
        font-size: 2.4rem;
    }
    details p {
        margin: 1.5rem 0;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .content__authors,
    .content__date_and_time,
    .content__numbers_of_seats {
        margin: 1.5rem 0 0 0;
        color: var(--text);
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 1.8rem;
    }
    .modal__date_and_time, .modal__seats, .modal__free_seats {
        font-size: 2rem;
    }
    .modal__date_and_time {
        font-size: 2.4rem;
    }
}
@media (min-width: 1250px) {
    .search {
        max-width: 55rem;
    }
}